<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%= dongxi %>cjjdsncjk<%= qian %></h1>

        <select class="" name="">
            <%
                for(var i = 100;i >= 0; i--){
            %>
            <option><%= i %></option>
            <%
                }
            %>
        </select>
    </body>
</html>
